* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#background {
    height: 100vh;
    background: url(./images/showcase.JPG) no-repeat center center/cover;
    position: relative;
    z-index: 2;
}

.container-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    color: #103649;
    text-shadow: #fff 1px 1px;
}

h1 {
    font-family: "Dancing Script",
        cursive;
    font-size: 3rem;
    margin-top: 2em;
    margin-right: 3em;

}
p {
    font-family: "Dancing Script",
        cursive;
    font-size: 3rem;
    margin-top: 3em;
    margin-right: 4em;

}

#tideDisplay {
    font-family: "Dancing Script", cursive;
    font-size: 2rem;
    margin-top: 2rem;
    padding: 3em;
}